<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="mainPattern">
            %d{HH:mm:ss.SSS} [%t] [%-5level] %logger{7} -> %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${mainPattern}" />
        </Console>
        <File name="FileAppender" filename="logs/logfile.log">
            <PatternLayout pattern="${mainPattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>